input.mxWikiInput {
    width: 18.75rem;
    height: 2rem;
    padding: 5px;
    border-radius: 2rem;
    border: 0;
    font-size: 1rem;
    color: var(--ifm-navbar-search-input-color);
    background-color: var(--ifm-navbar-search-input-background-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

th, td {
    border: 0.125rem solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mxWikiHidden {
    display: none;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}